/* 01 RECIPE FEATURE */

.visible{
    height: auto;
}

.featBlock{
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    height: auto;
}

.featImage{
    border-radius: 10px;
    width: 80%;
    object-fit: cover;
}

li.featLegend {
    font-size: 100%;
    text-align: justify;
    padding: 10px;   
    text-overflow: scroll;
}

h5.imageLeg {
    font-size: 100%;
}

.featLegend{
    padding-top: 20px;
    font-family:'Courier New', Courier, monospace;
}

h3.featLegendText{
    font-weight: bold;
}

h5.featLegend{
    font-weight: bold;
}

.form-select{
    text-transform: capitalize;
    cursor: pointer;
}

/* 02 RECIPES GRID */
#recipesGrid{
    display: grid;
    margin: 0 auto;
    padding: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    width: 100%;
    gap: 15px;
}

.gridContainer {
  box-sizing: border-box;
}

.recipeBlock{
    aspect-ratio: 1/1;
    background-color: rgb(255, 255, 255);
    object-fit: contain;
    text-align: center;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    /* box-shadow: 1px 1px 10px 1px rgba(72, 72, 72, 0.208); */
    /* box-sizing: border-box; */
    cursor: pointer;
    margin: 0 auto;
    padding: 0 auto
}

.recipeBlock:hover{
    /* background-color: rgb(152, 152, 152); */
    background-color: #f1b80e ;
    color: white;
}

.recipeBlock img{
    
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: rgb(255, 255, 255);
    object-fit: cover;
    text-align: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.847);
    border-radius: 30px;
    /* border: 2px solid rgba(68, 53, 5, 0.26); */
    box-shadow: 1px 1px 10px 1px rgba(72, 72, 72, 0.208);
}



/*  CHANGES WHEN MOUSE IS OVER SELECTION CASES */
.form-select:hover{
    background-color: #e3e3e3;
}

.featText {
    /* white-space: nowrap; */
}

/* FORM SUCCESS MESSAGE */
.success{
    padding-top: 0;
    padding-bottom: 0;
    text-transform: capitalize;
    color: rgb(7, 184, 7);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 70%;
}

/* FORMS SETUP */
.featBlockform{
    padding: 20px;
}

.featLegendform {
    font-size: 90%;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    align-items: baseline;
}

.mealInput{
    border-radius: 5px;
    border: 1px solid rgb(195, 195, 195);
    color: rgb(249, 246, 212); 
    color: rgb(74, 74, 74);
    height: 20px;
    text-transform: capitalize;
}

/*  CHANGES WHEN MOUSE IS OVER FORM CASES */
.mealInput:hover{
    background-color: rgb(250, 248, 237); 
    height: 20px;
    color: rgb(74, 74, 74);
}

/*  CHANGES WHEN MOUSE IS OVER FORM BUTTON */
#buttonA:hover{
    background-color: rgb(255, 123, 0); 
}
 .featGrid {
    box-sizing: border-box;
 }

.visible {
    display: block;
  }

.invisible {
    display: none;
}

#searchBar {
    background-color: #FFCC00;
    border-radius: 0px;
}

#backNext {
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-shadow: 1px 1px 1px grey

}

#backNext:hover {
    color: rgb(255, 123, 0); 
}